html{
    scroll-behavior: smooth;
    display: flex;
}
nav{
    display: flex;
    height: 3em;
    font-size: 25px;
    overflow: hidden;
    background-color: rgb(221, 212, 212);
    position: relative;
}