.toppart {
    background-color: rgba(71, 38, 219, 0.808);
}
.title {
    color:white;
    padding-left: 2%;
    padding-top: 1%;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.navbar{
    display: flex;
    justify-content: center;
    gap: 25%;
}

.navbar button{
    color: rgba(71, 38, 219, 0.808);
    font-size: 25px;
    border: none;
    cursor: pointer;
    border-radius: 20%;
}

.dropdown-content {
    margin-top: -1%;
    display: none;
    position: absolute;
    min-width: 160px;
    flex-direction: column;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
    background-color: rgba(71, 38, 219, 0.808);
    border: white solid 1px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.subjectsdd:hover .subjectlist {
    display: block;
}
.subjectlist {
    margin-left: -2%;
    display: none;
    position: absolute;
    min-width: 160px;
    flex-direction: column;
    list-style-type: none;
}
.subjectlist li{
    color: white;
    padding: 12px 16px;
    display: block;
    background-color: rgba(71, 38, 219, 0.808);
    border: white solid 1px;
}
#OtherCheck {
    color: white;
    padding: 12px 16px;
    display: block;
    background-color: rgba(71, 38, 219, 0.808);
    border: white solid 1px;
    margin-left: 5%;
    margin-top: -20%;
}

.filterby:hover .filteroptions {
    display: flex;
}
.filteroptions {
    display: none;
    position: absolute;
    min-width: 160px;
    flex-direction: column;
}
.filteroptions label {
    color: white;
    padding: 12px 16px;
    display: block;
    background-color: rgba(71, 38, 219, 0.808);
    border: white solid 1px;
}