@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}

.calendar {
    text-align: center;
}

input {
    font-size: 17px;
}

.topBar {
    background-color: blue;
    padding-top: 30px;
    padding-bottom: 30px;
}

.hoursWrapper {
display: flex;
align-items: flex-start;
}

.hours {
    background-color: grey;
    padding-left: 10px;
    padding-right: 40px;
}

.hours ul {
    list-style: none;
}

.hours li {
    margin-bottom: 30px;
}

.hoursLineDiv {
    width: 2px;
    height: 1192px;
    background-color: black;
}