@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/*calendar div*/
.calendar {
    text-align: center;
}

/*calendar input*/
input[type="date"] {
    font-size: 17px;
    padding-top: 8px;
    padding-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/*Calendar top blue bar*/
.topBar {
    background-color: rgb(0, 96, 240);
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}

/*wrapper for flex*/
.hoursWrapper {
display: flex;
align-items: flex-start;
padding: 20px;
}

/*hours grey left bar*/
.hours {
    background-color: grey;
    padding: 20px 30px;
    border-right: 2px solid black;
}

/*gets rid of bullet points*/
.hours ul {
    list-style: none;
}

/*margin between each hour*/
.hours li {
    margin-bottom: 30px;
    font-size: 16px;
    color: #333;
}

/*horiz lines between each hour*/
.lines {
    flex: 1;
    height: 1192px;

    /*repeat hor lines so I don't need to create a div for every single one*/
    background: repeating-linear-gradient(
        to bottom,
        black,
        black 2px,
        white 1px,
        white 49px
    );
}

.tutors {
    background-color: white;
    padding-top: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid White;
}

.tutors ul {
    list-style: none;
    display: flex;
    padding: 0px;
    margin-left: 120px;
    font-size: larger;
    font-family: 'Roboto', sans-serif;
}

.tutors li {
    margin-left: 150px;
}