html {
    overflow-y: scroll;
}
.toppart {
    background-color: #7a9183;
    display: flex;
    flex-direction: row;
    gap: 20%;
    padding-top: 2%;
}
.title {
    color: #FFF9F0;
    margin-top: -1%;
    padding-left: 2%;
}

.toppart a {
    color: #FFF9F0;
    font-size: 25px;
    border: none;
    cursor: pointer;
    border-radius: 20%;
}

.maincontainer {
    display: flex;
}

.leftside {
    background-color: #FFF9F0;
    width: 25%;
    padding-left: 1%;
    padding-right: 1%;
}

.filtertitle {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    color: #7a9183;
}

.filterinfo {
    font-size: 15px;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 2%;
    color: #4b4b4b;
}

#line {
    display: block;
    width: 100%;
    height: 0.5px;
    background-color: #7a9183;
    margin: 8px 0;
    opacity: 0.8;
}

.biglist {
    margin-left: -2%;
    min-width: 160px;
    flex-direction: column;
    list-style-type: none;
}

.biglist li {
    margin-bottom: 2%;;
    display: block;
    color: #2f2f2f;
}


#backarrow {
    width: 2%;
    height: 2%;
    object-fit: cover;
    margin-top: 2%;
    font-size: 20px;
    margin-left: 21%;
    border: none;
    position: absolute;
    display: none;
}

#tutorcards {
    background-color: #f0ece6;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 250px);
    grid-auto-rows: 150px;
    gap: 40px;
    padding-top: 1%;
    padding-left: 4%;
}

#tutorcards button {
    display: block;
    width: 250px;
    margin: 2%, 3%;
    padding: 12px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    white-space: normal;
    background-color: #FFF9F0;
    border: 1px solid #cfc9c0;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#tutorcards button:hover {
    background-color: #e8e4dc;
}

.hearticon {
    float: right;
    padding-left: 3%;
    margin-top: -5%;
    color: #7a9183;
}

#expanded-card {
    display: flex;
    position: absolute;
    margin-top: 5%;
    margin-left: 5%;
    width: 60%;
    background-color: #FFF9F0;
    border: 2px solid #7a9183;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1000;
    padding: 20px;
}

.rightsidecard {
    position: relative;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 20%;
    width: 55%;
}

#bio {
    font-style: italic;
    color: #5f6f65;
}
#heart {
    position: absolute;
    bottom: 2%;
    right: 2%;
    cursor: pointer;
}